@import '../scss/__mixins';

.Section {
    padding-top: 5rem;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        width: 100%;
        max-width: 88rem;
        margin: 0 auto;

    }

    &__accordion--item {
        border-radius: 4rem;
        margin-bottom: 1rem;
        padding: 1.5rem;
    }

    &__accordion--link {
        color: black;
        font-size: 1.6rem;
        text-decoration: none;
        background-color: var(--purples);
        border-radius: 4rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem
    }

    &__accordion__iconor--rm {
        display: none;
    }

}

.answer {               /*ANSWER */ 
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: white;
    color: black;
    transition: max-height 650ms;
    border-radius: 3rem;
}

.answer::before {
    content: " ";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: var(--purples);
    border-radius: 4rem;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p {
    font-size: 1.4rem;
    color: black;
    padding: 2rem;
}

.Section__accordion--item:target .answer{
    max-height: 20rem;
}

.Section__accordion--item:target .Section__accordion--link .Section__accordion__icono--add {
    display: none;
}

