.content__container {
  background-color: #fff;
  padding: 7% 10%;
}

.content__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.content__wrapper-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.content__img {
  width: 50vw;
  transition: 0.5s;
  object-fit: cover;
  margin: 1.1rem;
}

.content__img:hover {
  transform: scale(1.2);
}

.content__wrapper-txt {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2vh;
  font-family: var(--font-source-pro);
  font-weight: 600;
  width: 100%;
}

.content__txt-h1 {
  color: blue;
  font-size: 3vh;
}

.content__txt-h4 {
  display: none;
}

.content__txt-p {
  font-size: 2vh;
}

.context__txt-span1 {
  color: var(--indigo-color);

}

.context__txt-span2 {
  color: var(--pink-color);

}

.context__txt-span3 {
  color: var(--purples-color);
}

@media (min-width: 500px) {
.content__wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

  .content__wrapper-img {
  width: 70%;
}

.content__img {
  width: 70vw;
}

.content__img:hover {
  transform: scale(1.2);
}

.content__txt-h1 {
  font-size: 3.5vh;
}

.content__txt-h4 {
  display: block;
  color: var(--indigo-color);
  font-size: 2.5vh;
}

.content__txt-p {
  font-size: 2vh;
}
}

@media (min-width: 900px) {
  .content__wrapper {
    gap: 3vw;
  }

  .content__wrapper-img {
    width: 45%;
  }

.content__img {
    width: 25vw;
  }

.content__wrapper-txt {
    width: 55%;
  }

  .content__wrapper-txt {
  gap: 6vh;
}

.content__txt-h1 {
  font-size: 5vh;
}

.content__txt-h4, .content__txt-p {
  font-size: 2.75vh;
}
}

