.footer {
  background-color: var(--footer-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 5vw;
  padding-bottom: 2vh;
  gap: 3vh;
}

.footer__aside {
  width: 100%;
}

.footer__aside--logo-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

.footer__aside--logo {
  height: 5vh;
}

.footer__aside-paragraph {
  display: none;
}

.footer__aside-txt {
  display: none;
}

.footer__aside--mid {
  width: 100vw;
}

.footer__aside--lines {
  height: 1vh;
  width: 100%;
}

.footer__aside--polities {
  gap: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer__aside-text {
  color: white;
  font-family: var(--font-source-pro);
  font-size: 1.2vh;
  font-weight: 500;
}

.footer__aside-text:hover {
  color: var(--grey-neutral-4);
}

.footer__aside-copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
  gap: 1.5vh;
  width: 50vw;
}

.copyright__text {
  font-size: 1.75vh;
  font-family: var(--font-source-pro);
  color: var(--grey-neutral-4);
}

.copyright__social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7vh;
  gap: 2vw;
}

.social__wrapper-link {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.socialmedia {
  width: 1.5rem;
  transform: .5s;
}

.socialmedia:hover {
  transform: scale(1.1);
}

@media (min-width: 550px) {
  .footer__aside-text {
    font-size: 1rem;
  }

  .socialmedia {
    width: 2rem;
  }
}

@media (min-width: 780px) {
  .footer__aside-paragraph {
  width: 50%;
  display: block;
}

  .footer__aside-txt {
    display: block;
    font-family: var(--font-merriweather);
    font-size: 1.5vh;
    color: white;
    text-align: left;
    }

  .footer__aside--polities {
    gap: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footer__aside-text {
    font-size: 2vh;
  }
}