.form__wrapper {
  background: var(--grey-neutral-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 5% 0;
  margin: auto;
  overflow: hidden;
}

.form__container {
  width: 100%;
  border: 1px solid #dfdfdf;
  padding: 5vh 2.5rem;
  border-radius: .3rem;
  background-color: var(--footer-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  color: var(--grey-neutral-1);
}

.form__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-source-pro);
  font-weight: 600;
  font-size: 3vh;
  padding-bottom: 1vh;
  border-bottom: 1px solid lightgray;
  width: 100%;
}

.form {
  padding-top: 5%;
  display: flex;
  gap: 1.5vh;
  flex-wrap: wrap;
  font-weight: 100;

}

.form__field {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1vh;
}

.form__label {
  width: 100%;
  font-size: 2vh;
  font-family: var(--font-source-pro);
  font-weight: 600;
}

.form__input {
  height: 5vh;
  width: 100%;
  background-color: var(--grey-neutral-1);
  border-radius: .2rem;
  border: 1px solid lightgray;
  padding: 2% 3%;
}

.form__textarea {
  height: 10vh;
  width: 100%;
  background-color: var(--grey-neutral-1);
  border-radius: .2rem;
  border: 1px solid lightgray;
  padding: 2% 3%;
}

.form__text {
  display: flex;
  font-size: 1.5vh;
  font-family: var(  --font-merriweather);
  font-weight: 200;
  color: rgb(255, 0, 0);
}

.form__btn {
  margin-top: 5%;
  background: var(--indigo-color);
  width: 100%;
  height: 5vh;
  font-family: var(--font-source-pro);
  font-weight: 600;
  font-size: 2vh;
  border-radius: .3rem;
  color: white;
}

.form__btn:hover {
  background: var(--grey-neutral-8);
  color: #dfdfdf;
}
